input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow:3px 3px 0 1px rgba(0,0,0,0.2);
  }

  input[type=file] {
    
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 10px;
  }


label{
    font-size:20px;
}
.variable{
    width:100%;
    text-align:center;
}
.user_name{
    left:60px;
    font-size:20px;
    font-family: 'Libre Baskerville', serif;
}

.videos{
    font-size:20px;
    list-style-type:None;
}
.cre{
    font-family: 'Nunito', sans-serif;
}
.App{
    width: 100%;
    text-align: center;
}
custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }